@import '../../styles/tokens';
@import '../../styles/string-utils';

.root {
  display: flex;
  min-width: 0;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.alignBaseline {
  align-items: baseline;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

@each $key in $spacing-keys {
  .gap#{capitalize($key)} {
    gap: space($key);
  }
}
